# Verification against the ISLisp standard

verify/

```
array.lsp
char.lsp
cond.lsp
control.lsp
declare.lsp
files.lsp
formeval.lsp
io.lsp
list.lsp
macro.lsp
misc.lsp
number.lsp
object.lsp
pred.lsp
seq.lsp
stream.lsp
string.lsp
symbol.lsp
vector.lsp
```

These are files of test code to test for ISLisp standard compatibility.

# Acknowledgments

This was written by referring to the code at
http://www.islisp.org/verification.html .
I would like to thank the development members of OKI-ISLisp.
